html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;  
}

.background{
    background-color: #000;
}

#pages1,
#pages2 {
    scroll-behavior: smooth;
}

.pages-container {
    display: flex;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap;
}

.pages {
    display: flex;
	width: 300%;
	box-sizing: border-box;
    transition: transform 1.5s ease;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	gap: 10px;
    transition: all 0.7s;
    color: white;
    transform: translateY(0);
}

.one{
    background: transparent;
    /* background-image: url(../images/marble.png); */
    position: top left;
}

.two{
    background: transparent;
    /* background-image: url(../images/marble.png); */
    position: top middle;
}

.three{
    background: transparent;
    /* background-color: indigo; */
}

.four{
    background: transparent;
}

.five{
    background: transparent;
}

.six{
    background: transparent;
}

.vertical {
    padding: 0px;
    height: 150px;
    width: 5px;
    background-color: #F2F2F2;
    border: none;
}

.vertical:hover {
    height: 160px;
    width: 10px;
    transition: 0.2s;
}

.left {
    margin-left: 5%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    margin-right: 5%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top {
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.bottom {
    margin-bottom: 5%;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.horizontal {
    padding: 0px;
    height: 5px;
    width: 150px;
    background-color: #F2F2F2;
    border: none;
}

.horizontal:hover {
    width: 160px;
    height: 10px;
    transition: 0.2s;
}

/* Animated Elements */
.animated-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.animated-element.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-no-move {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animated-element-no-move.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-slow {
    opacity: 0;
    transition: opacity 1s ease-in 1s, transform 1s ease-out 0s;
}

.animated-element-slow.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-slow:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

.animated-element-slower {
    opacity: 0;
    transition: opacity 1s ease-in 2s, transform 1s ease-out 0s;
}

.animated-element-slower.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-slower:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

.animated-element-slowest {
    opacity: 0;
    transition: opacity 1s ease-in 3s, transform 1s ease-out 0s;
}

.animated-element-slowest.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-slowest:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

@keyframes expandInOutHeight {
    0%, 100% {
        height: 150px;
        transform-origin: center;
    }
    50% {
        height: 200px; /* Adjust the expanded height as needed */
        transform-origin: center;
    }
}

.button-animated-vertical {
    animation: expandInOutHeight 2s 3s infinite;
    transition: height 0.5s; /* Optional: Add a smooth transition effect */
}

@keyframes expandInOutWidth {
    0%, 100% {
        width: 150px;
        transform-origin: center;
    }
    50% {
        width: 200px; /* Adjust the expanded height as needed */
        transform-origin: center;
    }
}

.button-animated-horizontal {
    animation: expandInOutWidth 2s 3s infinite;
    transition: height 0.5s; /* Optional: Add a smooth transition effect */
}
/* Animated Elements */