html {
  overflow-x: hidden;
  zoom: 1;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(198, 198, 255);
  font-family: 'Varela Round', sans-serif;
}



/* Color, Layout and Sizes */
.pages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 100%;
  box-sizing: border-box;
  transition: transform 1.5s ease;
  position: relative;
}
.page {
  width: 100vw;
  display: grid;
  gap: 0px;
  transition: all 0.7s;
  color: #000;
  transform: translateY(0);
  align-items: initial;
  align-self: flex-start;
}
.one,
.two,
.three {
background: none;
}
.text-fefefe {
  color: #fefefe;
  background-color: transparent;
  text-decoration: none;
  padding: 0px;
  position: relative;
  overflow: hidden;
}
.text-fefefe::before {
  content: "";
  position: absolute;
  width: calc(100%);
  height: 2px;
  bottom: -5px;
  left: 0px;
  background-color: #fefefe;
  transform-origin: bottom left;
  transform: scaleX(0);
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.text-fefefe:hover::before {
  transform: scaleX(1);
  background-color: #fefefe;
}
.text-fefefe:hover {
  color: #fefefe;
}
.rounded-5 {
  border-radius: 2rem;
}
.w-90 {
  width: 90%;
}
.h-90 {
  height: 90%;
}
.glass {
  background-color: rgba(240, 240, 240, .38);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .37);
}
.r-0 {
  right: 0;
}
.l-0 {
  left: 0;
}
.bg-glass {
    background-color: rgba(249, 249, 249, .78);
    backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.bg-glass-light {
  background-color: rgba(245, 245, 245, .60);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.bg-glass-stir {
  background-color: rgba(199, 255, 255, .60);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.bg-glass-florida {
  background-color: rgba(255, 199, 219, .60);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.bg-glass-chattanooga {
  background-color: rgba(179, 220, 255, .60);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.bg-glass-wired {
  background-color: rgba(255, 219, 199, .60);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.r-20 {
  border-radius: 20px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.maxw-350 {
  max-width: 350px;
}
.maxw-390 {
  max-width: 390px;
}
.minw-300 {
  min-width: 300px;
}
.rounded-50 {
  border-radius: 50%;
}
.bottom-2vh {
    position: absolute;
    top: 88vh;
    left: 50%;
    transform: translateX(-50%);
}



/* Nav */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, .37);
}
.nav-link {
    color: rgba(0, 0, 0, .50) !important;
    text-decoration: none;
    margin: 0 10px;
}
.navbar-nav {
    display: inline-flex;
    list-style: none;
    padding: 0;
}
.navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, .96) !important;
}
.nav-link:hover {
  color: rgba(0, 0, 0, .73) !important;
  transition: transform 0.3s ease-in-out !important;
}



/* 1 */
/* Works */
.works-pic {
  width: 100%;
  height: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  position: relative;
  z-index: 1; /* Set a default z-index for works-pic */
}
.bg-glass-stir:hover .works-pic,
.bg-glass-florida:hover .works-pic,
.bg-glass-chattanooga:hover .works-pic,
.bg-glass-wired:hover .works-pic {
    opacity: 1;
    z-index: 2; /* Set a higher z-index on hover */
}
/* Logo */
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 250px;
  z-index: 1;
}
.bg-glass-stir,
.bg-glass-florida,
.bg-glass-chattanooga,
.bg-glass-wired {
  position: relative;
  overflow: hidden;
  z-index: 0; /* Set a z-index for the container */
}




/* 2 */
/* Jumbotron */
.jumbotron {
  width: 100vw;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  overflow: hidden;
}

.jumbotron img {
  height: 100%;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}
#thomas-img {
  animation-name: slideRightToLeft;
  animation-delay: 5s;
  max-width: 61.181668%;
  height: auto;
}
#goodpasture-img {
  animation-name: slideLeftToRight;
  animation-delay: 5s;
  max-width: 100%;
  height: auto;
}
@keyframes slideRightToLeft {
  0%, 20%, 100% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(200%);
  }
  66% {
    transform: translateX(200%) translateY(-200%);
  }
  67% {
    transform: translateX(-200%) translateY(-200%);
  }
  68% {
    transform: translateX(-100%);
  }
}
@keyframes slideLeftToRight {
  0%, 20%, 100% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(-200%);
  }
  66% {
    transform: translateX(-200%) translateY(-400%);
  }
  67% {
    transform: translateX(200%) translateY(-400%);
  }
  68% {
    transform: translateX(100%);
  }
}



/* App Library */
.app-library {
  position: relative;
  overflow: hidden;
}

.app-library img {
  width: 100%;
}

#carouselAppLibrary .carousel-indicators button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 3px;
  background-color: rgba(150, 150, 150, 0.75);
  border: 1px solid rgba(150, 150, 150, 0.75);
}

#carouselAppLibrary .carousel-indicators .active {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.75);
}

.app-title {
  color: rgba(0, 0, 0, 0.96);
  font-size: 12px;
  padding-top: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.g-col-4 {
  box-sizing: border-box;
}



/* Skills */
#carouselSkills .carousel-indicators-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
#carouselSkills .carousel-indicators button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: rgba(150, 150, 150, 0.75);
  border: 1px solid rgba(150, 150, 150, .75);
}
#carouselSkills .carousel-indicators .active {
  background-color: rgba(0, 0, 0, .75);
  border-color: rgba(0, 0, 0, .75);
}
.skills ul {
    list-style: none; /* Remove default list style (bullet points) */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center the list items */
}
.skills ul li {
    margin: 0 10px; /* Add some spacing between list items */
}




/* Resume */




/* 3 */
/* Animated Background */
.svg {
  border: none;
}
.fmx {
  filter: url(#colormatrix);
}
#bg-c1,
#bg-c2,
#bg-c3,
#bg-c4,
#bg-c5,
#bg-ci {
  z-index: -1;
  will-change: transform;
  position: absolute;
  transform-origin: center center;
  opacity: 1;
}
#bg-c1,
#bg-c2,
#bg-c3,
#bg-c4,
#bg-c5 {
  width: 50%;
  height: 50%;
}
@media screen and (max-width: 600px) {
  #thomas-img {
  animation-name: slideRightToLeft;
  animation-delay: 5s;
  max-height: 30vh;
  }
#goodpasture-img {
  animation-name: slideLeftToRight;
  animation-delay: 5s;
  max-height: 30vh;
  }
}