/* Nav */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;  
}

.vertical {
    padding: 0px;
    height: 150px;
    width: 5px;
    background-color: #F2F2F2;
    border: none;
}

.vertical:hover {
    height: 160px;
    width: 10px;
    transition: 0.2s;
}

.left {
    margin-left: 5vw;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.beside-left {
    margin-left: 6vw;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.right {
    margin-right: 5vw;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.beside-right {
    margin-right: 6vw;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top {
    margin-top: 5vh;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.bottom {
    margin-bottom: 5vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.above-bottom {
    margin-bottom: 6vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.horizontal {
    padding: 0px;
    height: 5px;
    width: 150px;
    background-color: #F2F2F2;
    border: none;
}

.horizontal:hover {
    width: 160px;
    height: 10px;
    transition: 0.2s;
}

.arrow-indicator-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #F2F2F2;
}

.arrow-indicator-left {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #F2F2F2;
   
}

.arrow-indicator-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #F2F2F2;
}
/* Nav */



/* Color, Layout and Sizes */
.background{
    background-color: #000;
}

.pages-container {
    display: flex;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    flex-wrap: wrap;
}

.pages {
    display: flex;
	width: 300%;
	box-sizing: border-box;
    transition: transform 1.5s ease;
}

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	gap: 10px;
    transition: all 0.7s;
    color: white;
    transform: translateY(0);
}

.one{
    background: transparent;
}

.two{
    background: transparent;
}

.three{
    background: transparent;
}

.four{
    background: transparent;
}

.five{
    background: transparent;
}

.six{
    background: transparent;
}

.content {
    height: 100vh;
    width: 100vw;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 8vh;
    padding-bottom: 8vh;
}

.text-fefefe {
     color: #fefefe;
    background-color: transparent;
    text-decoration: none;
    padding: 0px; /* Adjust padding as needed */
    position: relative;
    overflow: hidden;
}

.text-fefefe::before {
    content: "";
    position: absolute;
    width: calc(100%); /* Adjusted width to account for 10 pixels on both sides */
    height: 2px;
    bottom: -5px;
    left: 0px; /* Adjusted left to account for 10 pixels on the left */
    background-color: #fefefe;
    transform-origin: bottom left;
    transform: scaleX(0); /* Initially set the width to 0, will be scaled on hover */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.text-fefefe:hover::before {
    transform: scaleX(1);
    background-color: #fefefe;
}

.text-fefefe:hover {
    color: #fefefe;
}

/* Color, Layout and Sizes */



/* Animated Elements */
.animated-element {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.animated-element.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-no-move {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animated-element-no-move.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-1s {
    opacity: 0;
    transition: opacity 1s ease-in 1s, transform 1s ease-out 0s;
}

.animated-element-1s.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-1s:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

.animated-element-2s {
    opacity: 0;
    transition: opacity 1s ease-in 2s, transform 1s ease-out 0s;
}

.animated-element-2s.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-2s:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

.animated-element-3s {
    opacity: 0;
    transition: opacity 1s ease-in 3s, transform 1s ease-out 0s;
}

.animated-element-3s.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-3s:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

.animated-element-4s {
    opacity: 0;
    transition: opacity 1s ease-in 4s, transform 1s ease-out 0s;
}

.animated-element-4s.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-4s:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

.animated-element-5s {
    opacity: 0;
    transition: opacity 1s ease-in 5s, transform 1s ease-out 0s;
}

.animated-element-5s.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-5s:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

.animated-element-6s {
    opacity: 0;
    transition: opacity 1s ease-in 6s, transform 1s ease-out 0s;
}

.animated-element-6s.active {
    opacity: 1;
    transform: translateY(0);
}

.animated-element-6s:not(.active) {
    transition: opacity 0s ease-in 0s, transform 0s ease-out 0s;
}

@keyframes expandInOutHeight {
    0%, 100% {
        height: 150px;
        transform-origin: center;
    }
    50% {
        height: 200px;
        transform-origin: center;
    }
}

.button-animated-vertical {
    animation: expandInOutHeight 2s 3s infinite;
    transition: height 0.5s;
}

@keyframes expandInOutWidth {
    0%, 100% {
        width: 150px;
        transform-origin: center;
    }
    50% {
        width: 200px;
        transform-origin: center;
    }
}

.button-animated-horizontal {
    animation: expandInOutWidth 2s 3s infinite;
    transition: height 0.5s;
}

@keyframes fadeInAndMove {
    0% {
        opacity: 0;
        transform: translateY(100px); /* Start position, adjust as needed */
    }
    100% {
        opacity: 1;
        transform: translateY(20px); /* End position, adjust as needed */
    }
}

.arrow-indicator-down {
    left: 50%; /* Centered horizontally */
    opacity: 0; /* Initial opacity set to 0 */
    transform: translateX(-50%) translateY(-100px); /* Initial position above the button, adjust as needed */
    animation: fadeInAndMoveDown 1s ease-in-out 2s forwards; /* Delayed start after 2s, adjust duration as needed */
}

@keyframes fadeInAndMoveDown {
    0% {
        opacity: 0; /* Start with opacity 0 */
        transform: translateX(-50%) translateY(-100px); /* Start position, adjust as needed */
    }
    50% {
        opacity: 1; /* Gradually become visible */
    }
    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(-10px); /* End position above the button, adjust as needed */
    }
}

.arrow-indicator-left {
    margin-left: 5%;
    left: 100px;
    opacity: 0; /* Initial opacity set to 0 */
    transform: translateY(-50%) translateX(100px); /* Centered vertically */
    animation: fadeInAndMoveLeft 1s ease-in-out 2s forwards; /* Delayed start after 2s, adjust duration as needed */
}

@keyframes fadeInAndMoveLeft {
    0% {
        opacity: 0; /* Start with opacity 0 */
        transform: translateY(-50% translateX(-100px)); /* Centered vertically */
    }
    50% {
        opacity: 1; /* Gradually become visible */
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(-80px); /* Centered vertically */
    }
}

.arrow-indicator-right {
    margin-right: 5%;
    right: 100px; /* Initial position 100px away from the left button */
    opacity: 0; /* Initial opacity set to 0 */
    transform: translateY(-50%) translateX(-100px); /* Centered vertically */
    animation: fadeInAndMoveRight 1s ease-in-out 2s forwards; /* Delayed start after 2s, adjust duration as needed */
}

@keyframes fadeInAndMoveRight {
    0% {
        opacity: 0; /* Start with opacity 0 */
        transform: translateY(-50%) translateX(-100px); /* Centered vertically */
    }
    50% {
        opacity: 1; /* Gradually become visible */
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) translateX(80px); /* End position 10px away from the right button */
    }
}



/* 1 */
.image-container.delayed-hover:hover {
    transform: scale(1.07); /* Adjust the scale factor as needed */
}

.image-container {
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.animated-element-2s1 {
    opacity: 0;
    transition: opacity 1s ease-in 2s;
}

.animated-element-2s1.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease-in 2s;
}

.animated-element-2s1:not(.active) {
    transition: opacity 0s ease-in 0s;
}
/* 1 */



/* 5 */
@keyframes combinedAnimation {
    0% {
        opacity: 0;
        transform: translateY(calc(50vh - 14vh)) translateX(calc(50vw - 14vw));
    }
    25% {
        opacity: 1;
        transform: translateY(calc(50vh - 14vh)) translateX(calc(50vw - 14vw));
    }
    50% {
        opacity: 1;
        transform: translateY(0) translateX(calc(50vw - 14vw));
    }
    75% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}

.opacity-in-move-up {
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    animation: combinedAnimation 3s 1s ease-in-out forwards;
}

.opacity-in-move-up.active {
    opacity: 1;
}

.animated-text-3s-gpa {
  animation: colorChangegpa 3s ease-in-out 3s;
  color: #00b323;
}

@keyframes colorChangegpa {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #00b323; /* Change this to the final color */
  }
}
/* Google Colors Animated */
.animated-text-3s-google-g1 {
  animation: colorChangeg1 3s ease-in-out 3s;
  color: #0081ff;
}

@keyframes colorChangeg1 {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #0081ff; /* Change this to the final color */
  }
}

.animated-text-3s-google-o1 {
  animation: colorChangeo1 3.2s ease-in-out 3s;
  color: #ff3606;
}

@keyframes colorChangeo1 {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #ff3606; /* Change this to the final color */
  }
}

.animated-text-3s-google-o2 {
  animation: colorChangeo2 3.4s ease-in-out 3s;
  color: #ffbe00;
}

@keyframes colorChangeo2 {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #ffbe00; /* Change this to the final color */
  }
}

.animated-text-3s-google-g2 {
  animation: colorChangeg2 3.6s ease-in-out 3s;
  color: #0081ff;
}

@keyframes colorChangeg2 {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #0081ff; /* Change this to the final color */
  }
}

.animated-text-3s-google-l {
  animation: colorChangel 3.8s ease-in-out 3s;
  color: #00b323;
}

@keyframes colorChangel {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #00b323; /* Change this to the final color */
  }
}

.animated-text-3s-google-e {
  animation: colorChangee 4s ease-in-out 3s;
  color: #ff3606;
}

@keyframes colorChangee {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #ff3606; /* Change this to the final color */
  }
}

.animated-text-4s-css {
  animation: colorChangecss 3s ease-in-out 4s;
  color: #009ce6;
}

@keyframes colorChangecss {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #009ce6; /* Change this to the final color */
  }
}

.animated-text-4s-html {
  animation: colorChangehtml 3s ease-in-out 4s;
  color: #fe7c64;
}

@keyframes colorChangehtml {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #fe7c64; /* Change this to the final color */
  }
}

.animated-text-4s-js {
  animation: colorChangejs 3s ease-in-out 4s;
  color: #ffc940;
}

@keyframes colorChangejs {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #ffc940; /* Change this to the final color */
  }
}

.animated-text-4s-ai {
  animation: colorChangeai 3s ease-in-out 4s;
  color: #ff9a02;
}

@keyframes colorChangeai {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #ff9a02; /* Change this to the final color */
  }
}

.animated-text-4s-aps {
  animation: colorChangeaps 3s ease-in-out 4s;
  color: #31a8ff;
}

@keyframes colorChangeaps {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #31a8ff; /* Change this to the final color */
  }
}

.animated-text-4s-app {
  animation: colorChangeapp 3s ease-in-out 4s;
  color: #9999ff;
}

@keyframes colorChangeapp {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #9999ff; /* Change this to the final color */
  }
}

.animated-text-4s-axd {
  animation: colorChangeaxd 3s ease-in-out 4s;
  color: #ff61f5;
}

@keyframes colorChangeaxd {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #ff61f5; /* Change this to the final color */
  }
}

.animated-text-4s-figma-f {
  animation: colorChangefigma-f 3s ease-in-out 4s;
  color: #f14e1c;
}

@keyframes colorChangefigma-f {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #f14e1c; /* Change this to the final color */
  }
}

.animated-text-4s-figma-i {
  animation: colorChangefigma-i 3.2s ease-in-out 4s;
  color: #a25aff;
}

@keyframes colorChangefigma-i {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #a25aff; /* Change this to the final color */
  }
}

.animated-text-4s-figma-g {
  animation: colorChangefigma-g 3.4s ease-in-out 4s;
  color: #0acf84;
}

@keyframes colorChangefigma-g {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #0acf84; /* Change this to the final color */
  }
}

.animated-text-4s-figma-m {
  animation: colorChangefigma-m 3.6s ease-in-out 4s;
  color: #ff7362;
}

@keyframes colorChangefigma-m {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #ff7362; /* Change this to the final color */
  }
}

.animated-text-4s-figma-a {
  animation: colorChangefigma-a 3.8s ease-in-out 4s;
  color: #19bcfe;
}

@keyframes colorChangefigma-a {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: #19bcfe; /* Change this to the final color */
  }
}

.animated-text-5s {
  animation: colorChange 3s ease-in-out 5s;
  color: red;
}

@keyframes colorChange {
  0% {
    color: #fefefe;
  }
  50%{
    color: #fefefe;
  }
  100% {
    color: red; /* Change this to the final color */
  }
}



/* Animated Elements */